<header class="header header__theme--blue">
  <div class="s_container_fluid">
    Header
  </div>
</header>
<header class="header__subheader">
  <div class="s_container_fluid">
    Sub header




  </div>
</header>
<section class="wrapper__main">
  <div class="s_container_fluid">
    <div class="column-24">
      <div class="boxpanel">
        <div class="boxpanel__header boxpanel__header--gutter-padding">
          <div class="align__block--center">
            <div class="align__block--elements">
              <div class="boxpanel__tools">
                <button class="btn btn--icon btn btn--transparent"><i class="material-icons icon--middle icon--md">account_box</i></button>
                <button class="btn btn--icon btn btn--transparent"><i class="material-icons icon--middle icon--md">account_box</i></button>
                <button class="btn btn--icon btn btn--transparent"><i class="material-icons icon--middle icon--md">account_box</i></button>
                <a href="#">Link 1</a>
                <a href="#">Link 1</a>
                <a href="#">Link 1</a>
              </div>
            </div>
          </div>

        </div>
        <div class="boxpanel__body">
          <div class="align__block--center">
            <div class="align__block--elements">

              <button class="btn btn--white"><i class="material-icons icon--middle icon--md">account_box</i>Button</button>
              <button class="btn btn--transparent"><i class="material-icons icon--middle icon--md">account_box</i>Button</button>
              <button class="btn btn--blue"><i class="material-icons icon--middle icon--md">account_box</i>Button</button>
              <button class="btn btn--light-red"><i class="material-icons icon--middle icon--md">account_box</i>Button</button>
              <button class="btn btn--green"><i class="material-icons icon--middle icon--md">account_box</i>Button</button>
              <button class="btn btn--orange-yellow"><i class="material-icons icon--middle icon--md">account_box</i>Button</button>
              <button class="btn btn--icon"><i class="material-icons icon--middle icon--md">account_box</i>Button</button>

              <button class="btn btn--icon btn btn--transparent"><i class="material-icons icon--middle icon--md">account_box</i></button>
              <button class="btn btn--icon btn btn--transparent"><i class="material-icons icon--middle icon--md">account_box</i></button>
              <button class="btn btn--icon btn btn--transparent"><i class="material-icons icon--middle icon--md">account_box</i></button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>